<div class="grid-container">
  <h1 class="mat-h1">Challenge BVC</h1>
  <p>
    Este micrositio esta desarrollado en respuesta a un challenge con BVC.
    El desarrollo se hizo en Angular y se despliega en Netlify.<br> Los microservicios se desarrollaron en Spring Boot
    y se montaron en Heroku, con una persistencia en PostgreSQL
  </p>
  <p>
    Se tuvo como referencia unas plataformas tecnológicas generan eventos digitales los cuales consolidan
    y se tienen en cuenta en los costos de la operación.<br><br>
    Cada plataforma puede generar cualquiera de los siguientes eventos digitales que estan en el link events.<br><br>
    Se creó un formulario para la generacion de nuevos registros de eventos digitales.<br><br>
    Se agregó un filtro para la seleccion por fecha inicio y fecha final,<br>
    también filtra seleccionando una plataforma y/o un tipó de evento de forma din&aacute;mica.<br>

  </p>
  <h2>Micrositio</h2>
  <p>
    Link en Nitlify <a target="_blank" href="https://superlative-naiad-fe0d93.netlify.app" >Link</a>
  </p>
  <p>
    Repositorio en Github <a target="_blank" href="https://github.com/jesusmarin/frontend-bvc" >Link</a>
  </p>

  <h2>Backend Spring Boot</h2>
  <p>
    Link en Heroku <a target="_blank" href="https://challenge-bvc.herokuapp.com/" >Link</a>
  </p>
  <p>
    Documentación de los microservicios OpenApi 3.0 <a target="_blank" href="https://challenge-bvc.herokuapp.com/swagger-ui/index.html" >Link</a>
  </p>
  <p>
    Repositorio en Github <a target="_blank" href="https://github.com/jesusmarin/challenge-bvc" >Link</a>
  </p>



 <!-- <app-platforma ></app-platforma> -->
  <!-- <app-eventos class="eventos-bottom" style="margin-bottom: 10px"></app-eventos><br><br><br><hr><br> -->

</div>
