<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Recursos</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  [routerLink]="['/']">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item  [routerLink]="['/platforms']">
        <mat-icon>account_balance</mat-icon> Platform
      </a>
      <a mat-list-item [routerLink]="['/events']"><mat-icon>shop </mat-icon> Events</a>
      <a mat-list-item [routerLink]="['/event-register']"><mat-icon>view_list </mat-icon> Register Events</a>
      <a mat-list-item [routerLink]="['/form-register']"><mat-icon>input </mat-icon>&nbsp;  New Register</a>
      <a mat-list-item [routerLink]="['/filter-register']"><mat-icon>search</mat-icon>&nbsp; Register Filter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Frontend-bvc</span>
    </mat-toolbar>
     <!-- Add Content Here -->
     <div style="padding: 15px; min-height:100vh;">
       <router-outlet></router-outlet>
     </div>

  </mat-sidenav-content>
</mat-sidenav-container>
