.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(215, 224, 254);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-drawer-container {
  background-color: #f1f3ff;
  color: rgba(0,0,0,.87);
}
